body {
    margin: 0 !important;
    font-family: 'Lato', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid white;
    color: white;
    background-color: cornflowerblue;
    width: 100%;  
}
.inputContainer {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(166,200,255);
    position: fixed;
    bottom: 0;
}
#container {
    width: 100%;
    margin-bottom: 50px;
}
#message {
    width: 75%;
}
#send {
    width: 20%;
}